:root {
  --color-red: #E50914;
  --color-black: #141414;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  background: var(--color-black);
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-black);
  padding: 10px 30px;
}

.logo {
  color: var(--color-red);
  font-family: 'Arial Black', Times, serif;
  font-size: 40px;
  transition: transform 200ms linear;
}

.logo:hover {
  transform: perspective(5);
}

nav a {
  text-decoration: none;
  color: #AAA;
  margin-right: 10px;
}

nav a:hover {
  color: #fff;
}

/* Main section */
.principais {
  background: url(../img/carro\ e\ bikes.jpg);
  font-size: 16px;
  height: 540px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.titulo {
  margin-top: 20%;
  font-size: 50px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.descricao {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 20px;
  width: 590px;
}

.botao {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 15px 30px;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.botao:hover {
  background-color: white;
  color: black;
}

.botao i {
  margin-right: 8px;
  color: var(--color-red);
}

/* Container */
.container {
  margin: 0 30px;
}

.principais .container {
  width: 70%;
}

/* Bikes */
.box-bikes {
  height: 100%;
  width: 100%;
  display: block;
}

.carrosel-bikes {
  margin-top: 5px;
}

/* Videos */
.carrosel-videos {
  height: 600px;
  width: 100%;
  background-color: #e41f1f;
}

/* Footer */
footer {
 
